@model CapaEntidad.Card
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="texto-principal"><h1 class="title valign-text-bottom">@Model.TituloPrincipal</h1></div>
    <div class="texto-secundario-tex-home">
        <p class="texto-secundario-tex-texto-secundario-tex">
            @Model.SubTitulo
        </p>
    </div>
    <div class="componente-informativo">
        <img class="caritas-negras" src="~/Recursos/img/caritas-negras@2x.png" alt="caritas negras" />
        <div class="flex-col">
            <div class="texto-sobre-otro-elemento-flex-col">
                <div class="texto-sobre-otro-elemento-texto-sobre-otro-elemento valign-text-middle">
                    @Model.TextoCardInformativo
                </div>
            </div>
            <div class="botn-7"><div class="botn-8 valign-text-middle">botón</div></div>
        </div>
    </div>
</main>

