@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700,500");

:root {
    --black: #000000;
    --white: #ffffff;
    --font-size-l: 36px;
    --font-size-m: 24px;
    --font-size-s: 20px;
    --font-size-xs: 16px;
    --font-family-inter: "Inter", Helvetica;
}

.inter-medium-white-16px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 500;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

    .container-center-horizontal > * {
        flex-shrink: 0;
        pointer-events: auto;
    }

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.valign-text-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

* {
    box-sizing: border-box;
}


/* screen - home */

.home {
    align-items: center;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 1024px;
    width: 100%;
}

    .home .header {
        align-items: center;
        background-color: var(--black);
        display: flex;
        height: 121px;
        width: 100%;
        padding: 25px 90px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .home .logo {
        align-self: flex-start;
        background-image: url(../Recursos/img/logo@2x.png);
        background-position: 50% 50%;
        background-size: cover;
        height: 70px;
        width: 65px;
    }

    .home .botn-2 {
        align-items: flex-start;
        display: flex;
        min-width: 45px;
    }

    .home .botn-3,
    .home .botn-4,
    .home .botn-5,
    .home .botn-6 {
        height: 19px;
        letter-spacing: 0;
        line-height: normal;
        margin-top: -1px;
        min-width: 45px;
        text-align: center;
    }

    .home .botn-1 {
        align-items: flex-start;
        display: flex;
        margin-left: 112px;
        min-width: 45px;
    }

    /* MENU RESPONSIVE */
    .home .menu-responsive {
        display: flex;
        gap: 20px;
    }

.menu-hamburguesa {
    display: none;
}

.home .texto-principal {
    align-items: flex-start;
    display: flex;
    margin-top: 119px;
    min-width: 262px;
    justify-content: center;
}

.home .title {
    color: #f5b300;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-weight: 700;
    height: 44px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    min-width: 262px;
    text-align: center;
}

.home .texto-secundario-tex-home {
    align-items: flex-start;
    display: flex;
    height: 64px;
    margin-left: 2.0px;
    margin-top: 17px;
    min-width: 794px;
    justify-content: center;
}

.home .texto-secundario-tex-texto-secundario-tex {
    color: #7d7d7d;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32.2px;
    margin-top: -1px;
    text-align: center;
    width: 794px;
}

.home .componente-informativo {
    align-items: center;
    background-color: #f5b300;
    border-radius: 20px;
    box-shadow: 0px 4px 20px #a07500;
    display: flex;
    gap: 175px;
    height: 301px;
    margin-top: 77px;
    padding: 59px 58px;
}

.home .caritas-negras {
    align-self: flex-end;
    height: 182px;
    object-fit: cover;
    width: 182px;
}

.home .flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 13.0px;
    min-height: 148px;
    width: 266px;
}

.home .texto-sobre-otro-elemento-flex-col {
    align-items: flex-start;
    display: flex;
    min-width: 266px;
}

.home .texto-sobre-otro-elemento-texto-sobre-otro-elemento {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-weight: 700;
    height: 88px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    width: 266px;
}

.home .botn-7 {
    align-items: flex-start;
    background-color: var(--black);
    border-radius: 10px;
    display: flex;
    height: 35px;
    min-width: 266px;
    padding: 5px 97.8px;
}

.home .botn-8 {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 500;
    height: 24px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: 70px;
}

.home .footer {
    align-items: center;
    background-color: var(--black);
    display: flex;
    height: 47px;
    justify-content: center;
    margin-top: 234px;
    width: 100%;
}

.home .botn-9 {
    align-items: flex-start;
    display: flex;
    min-width: 45px;
}

.container-table{
    padding: 20px 10px;
}

.tabla {
    width: 80%;
    border-collapse: collapse;
    border: 3px solid dashed;
}

.tabla th{
    font-weight: bold;
    font-size: 20px
}

@media screen and (max-width: 1024px) {
    .home {
        height: 100% !important;
        width: 100%;
    }

        .home .menu-responsive {
            display: none;
        }

        .home .componente-informativo {
            padding: 25px 20px;
            min-width: auto;
            margin-left: 20px;
            margin-right: 20px;
        }
}

@media screen and (max-width: 800px) {
    .home .componente-informativo {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        gap: 20px;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
        height: auto;
    }

    .home .texto-secundario-tex-home {
        min-width: auto;
    }

    .home .texto-secundario-tex-texto-secundario-tex {
        width: auto;
        font-size: 20px;
        display: flex;
    }

    .home .header {
        padding: 25px 75px;
    }

    .home .caritas-negras{
        align-self: auto;
    }
}

@media screen and (max-width: 480px) {
    .home .componente-informativo {
        padding: 10px 15px;
    }

    .home .header {
        padding: 10px 15px;
    }

    .home .botn-1 {
        margin-left: 0;
    }

    .home .menu-responsive {
        position: fixed;
        top: 120px;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        margin-left: -100%;
        padding: 5px 25px;
    }

        .home .menu-responsive.show {
            margin-left: 0;
        }

    .home .menu-hamburguesa {
        width: 100%;
        height: 40px;
        border: none;
        display: flex;
        background: none;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        float: right;
        z-index: 200;
        left: 100% !important;
        justify-content: center;
        align-content: center;
    }

        .home .menu-hamburguesa span {
            width: 37px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: #ffff;
            border-radius: 3px;
            transform-origin: 4px 0px;
            transition: all .2s linear;
        }

        .home .menu-hamburguesa.close span {
            opacity: 1;
            transform: rotate(45deg) translate(0px, 0px);
            background: #ffffff;
        }

            .home .menu-hamburguesa.close span:nth-child(2) {
                transform: rotate(-45deg) translate(-8px, 5px);
            }

            .home .menu-hamburguesa.close span:nth-child(3) {
                display: none;
            }
}
