
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="texto-principal">
        <h1 class="title valign-text-bottom">Articulos</h1>
    </div>
    <div class="container-table">
        <table id="tabla" class="tabla">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</main>

@section scripts{
    <script>
        
    </script>
}

