
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="texto-principal">
        <h1 class="title valign-text-bottom">Articulos</h1>
    </div>
    <div class="container-table">
        <table id="tabla" class="tabla">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</main>

@section scripts{
    <script>
        $("#document").ready(function () {
            jQuery.ajax({
                url: '@Url.Action("ObtenerArticulos", "Articulos")',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var articulos = data.data;
                    var tabla = $("#tabla tbody");
                    tabla.empty(); 

                    $.each(articulos, function (index, item) {
                        tabla.append(
                            '<tr>' +
                            '<td>' + item.Titulo + '</td>' + // Usamos Nombre como Titulo
                            '<td>' + item.Descripcion + '</td>' + // Descripción del artículo
                            '</tr>'
                        )
                    })
                }
            });
        })

    </script>
}

